header {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 8px;
    position: relative;
    z-index: 1;
  }
  header img {
    padding: 16px;
    height: 40px;
  }