main {
  gap: 2px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.main {
  width: calc(100% - 308px);
}
.homescreen {
  background: url(./assets/img/sushi-homescreen.jpg) no-repeat center/cover;
  height: 500px;
}
.homescreen img {
  width: 100px;
  position: relative;
  top: 380px;
  left: 200px;
  border: 2px #000000 solid;
  border-radius: 8px;
}
.menu {
  margin: 0px 200px;
}
.title {
  display: flex;
  justify-content: space-between;
}
.title-infolike {
  display: flex;
}
.title-infolike button {
  display: flex;
  align-items: center;
  gap: 8px;
}
.title-infolike img {
  height: 32px;
}
.infobutton,
.likebutton {
  background-color: rgb(239, 237, 234);
  margin: 8px;
  border-radius: 24px;
  padding: 12px 24px; /* Optional: Fügt etwas Innenabstand hinzu */
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease,
    border-radius 0.3s ease;
}

.infobutton:hover,
.likebutton:hover {
  background-color: #f36805;
  border-radius: 32px;
  transform: scale(1.1);
}
.reviews {
  display: flex;
  gap: 16px;
}
.reviews img {
  width: 20px;
}
.reviews a {
  cursor: pointer;
}
.reviews a:hover {
  text-decoration: underline;
}
nav {
  margin: 24px 0;
  display: flex;
  gap: 16px;
}
nav a {
  text-decoration: none;
  color: black;
  padding: 16px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: bold;
  border-radius: 32px;
  transition: color 0.3s ease, text-decoration 0.3s ease, transform 0.3s ease,
    background-color 0.3s ease;
}
nav a:hover {
  background-color: #f36805;
  border-radius: 32px;
  transform: scale(1.1);
}
.menubox {
  width: 100%;
  border: #000000 solid 1px;
  border-radius: 4px;
  margin: 24px 0;
  transition: background-color 0.3s ease;
  padding: 8px;
}
.menubox:hover {
  background-color: rgb(239, 237, 234);
}
.menubox h4 {
  margin: 8px 0;
}
.shoppingcart,
.order-button {
  background: #f36805;
  color: white;
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.shoppingcart:hover,
.order-button:hover {
  background: #80461c;
}
#order-type {
  margin: 20px 0;
  display: flex;
}

.slider {
  display: flex;
  width: 200px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  background-color: #f9f9f9;
  position: relative;
}

.slider-option {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #333; /* Immer schwarze Schrift */
  font-weight: bold;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

#pickup {
  border-radius: 20px 0 0 20px;
  font-family: Raleway;
}

#delivery {
  border-radius: 0 20px 20px 0;
  font-family: Raleway;
}

#pickup.selected,
#delivery.selected {
  background-color: #f36805; /* Hintergrundfarbe der ausgewählten Option */
}
.order-options {
  width: 24px;
  background-color: #f36805;
  padding: 4px;
  border-radius: 24px;
  transition: background-color 0.3s ease;
}
.order-options:hover {
  background-color: #80461c;
}
.cart-item {
  margin-bottom: 24px;
}
.cart-item h4 {
  margin: 0;
}
.shopping-cart {
  display: none;
}
h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 img {
  display: none;
  width: 32px;
  height: 32px;
  background-color: #f36805;
  padding: 8px;
  border-radius: 16px;
  transition: background-color 0.3s ease;
}

@media (max-width: 1200px) {
  .sidebar {
    display: none;
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .shopping-cart {
    display: block;
    position: fixed;
    right: 40px;
    bottom: 40px;
  }
  .shopping-cart img {
    width: 40px;
    height: 40px;
    background-color: #f36805;
    padding: 8px;
    border-radius: 16px;
    transition: background-color 0.3s ease;
  }
  .shopping-cart img:hover {
    background-color: #80461c;
  }
  .menu {
    margin-left: 32px;
  }
  .title {
    display: flex;
    flex-direction: column;
  }
  h2 img {
    display: block;
  }
}

@media (max-width: 500px) {
  .shopping-cart img {
    width: 32px;
    height: 32px;
  }
  .menu {
    margin: 4px;
  }
  .menubox {
    padding: 0px;
  }
}
