main {
  gap: 2px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.main {
  width: calc(100% - 308px);
}
.homescreen {
  background: url(./assets/img/sushi-homescreen.jpg) no-repeat center/cover;
  height: 500px;
}
.homescreen img {
  width: 100px;
  position: relative;
  top: 380px;
  left: 200px;
  border: 2px #000000 solid;
  border-radius: 8px;
}
.menu {
  margin: 0px 200px;
}
.title {
  display: flex;
  justify-content: space-between;
}   
.title-infolike {
  display: flex;
}
.title-infolike button {
    display: flex;
    align-items: center;
    gap: 8px;
}
.title-infolike img {
    height: 32px;
}
.infobutton, .likebutton {
  background-color: rgb(239, 237, 234);
  margin: 8px;
  border-radius: 24px;
  padding: 12px 24px; /* Optional: Fügt etwas Innenabstand hinzu */
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
}

.infobutton:hover, .likebutton:hover {
  background-color: #f36805;
  border-radius: 32px;
  transform: scale(1.1);
}
.reviews {
  display: flex;
  gap: 16px;
}
.reviews img {
  width: 20px;
}
.reviews a {
  cursor: pointer;
}
.reviews a:hover {
  text-decoration: underline;
}
nav{
  margin: 24px 0;
  display: flex;
  gap: 16px;
}
nav a {
  text-decoration: none;
  color: black;
  padding: 16px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: bold;
  border-radius: 32px;
  transition: color 0.3s ease, text-decoration 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}
nav a:hover {
  background-color: #f36805; 
  border-radius: 32px;
  transform: scale(1.1);
}